version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
    open-pull-requests-limit: 10
    labels: ["dependencies", "github-actions"]

  - package-ecosystem: "terraform"
    directory: "/infra/terraform"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:15"
    open-pull-requests-limit: 10
    labels: ["dependencies", "terraform"]

  - package-ecosystem: "npm"
    directory: "/app"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:30"
    open-pull-requests-limit: 10
    labels: ["dependencies", "npm"]
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
